
.card-container {
    height: 100vh;
    padding: 1rem 4rem;
    background-color: rgb(240, 240, 240);

    .card-heading {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 1.1rem;
            color: gray;
        }
    }

    .cards {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .small-card {
            background-color: rgb(245, 237, 195);
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
            }

            .user-details {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .transaction-date {
                    display: flex;

                    li {
                        margin-left: 1rem;
                    }
                }
            }

            .status-record {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                h1 {
                    color: rgb(11, 212, 11);
                }

                .status {
                    font-weight: bold;
                    text-align: right;
                    font-size: 1.1rem;
                }
            }
        }
    }
}